/* GLOBALES */

body {
    background-color: rgb(12, 16, 24);
    color: rgb(226, 237, 252);
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
}
h1 {
    font-size: 48px;
    font-weight: 900;
}
h2 {
    font-size: 38px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
    font-weight: 600;
}
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* Test.html */

.test__clas {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #0A0A0A;
    border: 1px solid #c3cce5;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.inline-block-element {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: #0A0A0A;
    margin: 0 10px;
}
.sticky-container {
    height: 100px;
    background-color: rgb(19, 19, 2);
}
.sticky-box {
    position: sticky;
    top: 10px;
    background-color: rgb(95, 63, 68);
    padding: 10px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.grid__test {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 100px);
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    align-content: space-evenly;
    height: 500px;
    width: 90%;
}
.grid__item__test {
    border: solid 3px #b99e84;
    padding: 5px;
}