@import "../globals/variables-utilidades";

/* FINCAS */
.contenedor__bodegas {
    @include contenedor-styles(1200px, 100%, 50px auto);
    .bodegaImg__heigth {
        height: 400px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .contenedor__bodegas {
        width: 60%;
        margin: 120px auto;
        .bodegaImg__heigth {
            height: auto;
        }
    }
}