/* FINCAS */
.contenedor__fincas {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    .fincaImg__heigth {
        height: 400px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .contenedor__fincas {
        width: 65%;
        margin: 120px auto;
        .fincaImg__heigth {
            height: auto;
        }
    }
}