@import "../globals/variables-utilidades";

/* CONTACTO HEADER TITLE */
.header__contact {
    @extend .flex-column;
    color: rgb(255, 252, 250);
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 80%;
    margin: 60px auto 0 auto;

    p {
        font-weight: 700;
    }
}
@media (min-width: 768px) {
    .header__contact {
        flex-direction: row;
        gap: 100px;
        margin: 150px auto 0 auto;
    }
}
/* FORM */
.contact {
    @extend .flex-column;
    align-items: center;
    gap: 40px;
    margin: 60px auto;
    .contact__map__info {
        h2, p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h2 {
            margin: 30px 0;
            gap: 10px;
        }
        p {
            &:first-of-type {
                margin-top: 10px;
            }
        }
    }

    .contact__form__title {
        margin: 20px 0;
    }
    .contact__form__campos {
        @extend .flex-column;
        row-gap: 20px;
        margin-top: 30px;

        input, 
        textarea {
            padding: 10px 5px;
            background-color: transparent;
            font-size: 15px;
            font-style: italic;
            font-weight: 600;
            border: none;
            color: rgb(99, 116, 145);
            border-bottom: 2px solid rgb(55, 61, 70);
            outline: none;
        }
        textarea {
            align-content: end;
            resize: none;
            font-family: $fuenteTexto;
        }
        .contact__form__submit {
            border: 3px solid rgb(55, 61, 70);
            border-radius: 5px;
            width: 40%;
            transition: 300ms;
            &:hover {
                background-color: rgb(99, 116, 145);
                color: rgb(40, 43, 49);
                cursor: pointer;
            }
        }
    }
}
@media (min-width: 768px) {
    .contact {
        flex-direction: row;
        align-items: stretch;
        .contact__map__info {
            h2, p {
                display: flex;
                justify-content: start;
            }
            h2 {
                margin: 20px 0 80px 0; 
            }
        }
    }
}