@import "../globals/variables-utilidades";

/* VINOS */
.vinos {
    text-align: center;
    h2 {
        margin: 80px 0 0;
    }
    p {
        margin: 10px 0 50px 0;
    }
    .vinos__cards {
        @extend .flex-column;
        gap: 40px;
        width: auto;
        margin: 20px 0 50px;
        .vinos__card {
            @include tamaño-img(90%, auto);
            background-color: $colorBgSecundario;
            border-radius: 10px;
            margin: 0 auto;

            img {
                max-height: 400px;
                width: 100%;
                margin-bottom: 30px;
            }
            p {
                margin: 15px 10px 20px;
            }
        }
        &:last-of-type {
            margin-bottom: 80px;
        }
    }
    @media (min-width: 768px) {
        .vinos__cards {
            flex-direction: row;
            gap: 30px;
            .vinos__card {
                img {
                    max-height: 50%;
                }
                
            }
        }
    }
}
