@import "../globals/variables-utilidades";

/* HEADER */
.header {
    background-image: url(../assets/img/BodegaValleDelMalbec.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin-bottom: 24px;
    opacity: 80%;
    
    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 6px 20px;

        a {
            .nav__logo {
                @include tamaño-img(100px, 80px)
            }
        }
        .nav__iconoMenu {
            @include tamaño-img(60px, 60px);
            border: none;
            background-color: transparent;

            img {
                width: 100%;
            }
        }
        .nav__links {
            display: none;
            @include font-estilos(20px, 600);
            .nav__link {
                color: $ColorNavLinks;
                padding: 0 10px;
                &:hover {
                    transform: translateY(15px) scale(1.1);
                    transition: 500ms ease-in;
                }
            }
        }
        @media (min-width: 768px) {
            .nav__links {
                display: flex;
            }
            .nav__iconoMenu {
                display: none;
            }
        }
    }
    .header__title {
        text-align: center;
        color: white;
        margin-top: 150px;
    }
}