@import "../globals/variables-utilidades";

/* HEADER */
.header {
    background-image: url(../assets/img/BodegaValleDelMalbec.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin-bottom: 24px;
    opacity: 80%;
    .header__nav {
        align-items: end;
        padding: 0;
        a {
            .nav__logo {
                @include tamaño-img(100px, 80px);
                padding-left: 15px;
            }
        }
        .nav__iconoMenu {
            padding: 10px;
            margin:0 10px 5px;
            border: none;
            transition: 150ms;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                background-color: rgba(221, 202, 184, 0.5);
                border-radius: 40%;
            }
            span {
                @include tamaño-img(40px, 40px);
            }
        }
        .nav__links {
            background-color: rgba(240, 219, 198, 0.5);
            text-align: end;
            padding: 0 15px 15px 0;
            @include font-estilos(20px, 600);
            .nav__link {
                position: relative;
                transition: color 300ms ease;
                
                a {
                    color: $ColorNavLinks;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    background-color: rgb(153, 120, 86);
                    transition: width 300ms ease, left 300s ease;
                }
                &:hover::before {
                    width: 50%;
                    left: 0;
                }
            }
        }
        @media (min-width: 768px) {
            .nav__links {
                gap: 10px;
                background-color: transparent;
                padding-bottom: 0;
                .nav__link {
                    &::before {
                        left: 0;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }
    }
    .header__title {
        text-align: center;
        color: white;
        margin-top: 130px;
    }
}