/* GLOBALES */

body {
    background-color: rgb(12, 16, 24);
    color: rgb(226, 237, 252);
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
}
h1 {
    font-size: 40px;
    font-weight: 900;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    font-weight: 600;
}
@media (min-width: 768px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 30px;
    }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}