$fuenteTitulo: "Playfair Display", serif;
$fuenteTexto: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$colorPrincipal: rgb(226, 237, 252);
$ColorNavLinks: rgb(185, 158, 132);

$colorBgPrincipal:  rgb(12, 16, 24);
$colorBgSecundario: rgb(99, 116, 145);

// @mixin contenedor()