$fuenteTitulo: "Playfair Display", serif;
$fuenteTexto: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$colorPrincipal: rgb(226, 237, 252);
$ColorNavLinks: rgb(185, 158, 132);

$colorBgPrincipal:  rgb(12, 16, 24);
$colorBgSecundario: rgb(99, 116, 145);

@mixin contenedor-styles($max-width, $width, $margin) {  //  Aplicados en "globales.scss" y "_main-fincas.scss"
    max-width: $max-width;
    width: $width;
    margin: $margin;
}

.flex-column {                 //Aplicados en casi todos los "_mains.scss" como 'extend'
    display: flex;
    flex-direction: column;
}